STRINGTABLE
LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT
{
0, "Русский"
1, "Mouse MAC"
2, "Параметры программы:"
3, "&Включить"
4, "Включено"
5, "Выключено"
6, "&Автозапуск"
7, "&Инвертировать"
8, "Параметры &мыши"
9, "В&ыход"
10, "Версия"
11, "Посетить &сайт Mouse MAC"
12, "http://mousemac.tarcode.ru"

22, "Гладкое прокручивание списков"

30, "&Горизонтальная прокрутка с клавишей Shift"
}