STRINGTABLE
LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT
{
0, "Русский"
1, "MouseMAC"
2, "Параметры программы:"
3, "&Включить"
4, "Включено"
5, "Выключено"
6, "&Автозапуск"
7, "&Инвертировать"
8, "Параметры &мыши"
9, "В&ыход"
10, "Версия"
11, "Посетить &сайт Mouse MAC"
12, "http://mousemac.tarcode.ru"

22, "Гладкое прокручивание списков"

30, "&Горизонтальная прокрутка с клавишей Shift"

40, "https://mousemac.tarcode.ru/update.uurl"
41, "Автоматическое &обновление"
42, "&Автоматическая проверка обновлений"
43, "&Проверить на наличие обновлений"
44, "Доступна новая версия %0:s\nНажмите для получения подробностей"
45, "Обновление выполнено успешно\nНовая версия %0:s"
46, "Обновление не выполнено\nНажмите для перехода на сайт программы"

150, "&Язык"
151, "Язык &системы"

224, "&Лицензионное соглашение"
}